.sidebar-footer.hidden-small
  %a{"data-original-title" => "Settings", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
    %span.glyphicon.glyphicon-cog{"aria-hidden" => "true"}
  %a{"id" => "fullscreen", "data-original-title" => "FullScreen", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
    %span.glyphicon.glyphicon-fullscreen{"aria-hidden" => "true"}
  %a{"data-original-title" => "Lock", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
    %span.glyphicon.glyphicon-eye-close{"aria-hidden" => "true"}
  = link_to(destroy_user_session_path, method: :delete, title: "", "data-original-title": "Logout", "data-placement": "top", "data-toggle": "tooltip" ) do
    %span.glyphicon.glyphicon-off{"aria-hidden" => "true"}