.profile.clearfix
  .profile_pic
    = image_tag("profile-default.png", :class => "img-circle profile_img", :alt => "...")
  .profile_info
    %span Welcome
    %h2 #{current_user.username}
/ /menu profile quick info
%br/