.profile.clearfix
  .profile_pic
    %img.img-circle.profile_img{:alt => "...", :src => "images/img.jpg"}/
  .profile_info
    %span Welcome
    %h2 #{current_user.username}
/ /menu profile quick info
%br/